.section {
  margin: 0 auto;
  max-width: 1344px;
}
.section h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'UhBeeSe_hyun';
  color: black;
  margin-bottom: 40px;
}
.section-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}
.section-wrap .item {
  display: inline-block;
  width: 90%;
  word-break: keep-all;
  padding-bottom: 50px;
  vertical-align: top;
  transition: 0.2s;
}
.section-wrap .item a {
  display: inline-block;
  width: 100%;
}
.section-wrap .item a .item-img {
  width: 100%;
  height: 400px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.section-wrap .item a .item-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 400px;
  max-height: 200%;
  transition: 0.2s;
  display: block;
}
.section-wrap .item a:hover .item-img img {
  transform: translate(-50%, -50%) scale(1.1);
}
.section-wrap .item a .item-text {
  color: black;
}
.section-wrap .item a .item-text .name {
  font-size: 1rem;
  margin-top: 10px;
}
.section-wrap .item a .item-text .price {
  font-size: 1.3rem;
  font-weight: 500;
  color: #ff7800;
}
.section-wrap .item a .item-text .description {
  font-size: 0.85rem;
  color: #777;
  margin-top: 10px;
}
