<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="security.css" />
    <!-- Daum 주소 API 사용하기 위한 파일 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="security.js" type="module" defer></script>
    <script type="text/javascript">
      fetch('/header.html')
        .then((res) => res.text())
        .then((text) => {
          document.querySelector('#header').innerHTML = text;
        });
    </script>
    <script src="/header.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div id="header"></div>

    <section class="section">
      <div class="container">
        <div class="block account-header">
          <h1 class="subtitle is-4">회원 정보 관리 <span id="securityTitle"></span></h1>
        </div>
        <div class="menu-container">
          <div class="form-container">
            <form class="box form-box" id="loginForm">
              <div class="field">
                <label class="label" for="fullNameInput">이름</label>
                <div class="control">
                  <input class="input" id="fullNameInput" type="text" autocomplete="off" disabled="" />
                  <!-- 토클 스위치 -->
                  <label class="switch">
                    <input type="checkbox" id="fullNameToggle" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>

              <div class="field">
                <label class="label" for="passwordInput">비밀번호</label>
                <div class="control">
                  <input class="input" id="passwordInput" type="password" autocomplete="off" disabled="" />
                  <!-- 토클 스위치 -->
                  <label class="switch">
                    <input type="checkbox" id="passwordToggle" />
                    <span class="slider round"></span>
                    <span class="info-text" style="opacity: 0" hidden>
                      소셜 로그인의 경우는 비밀번호 설정이 불가합니다.
                    </span>
                  </label>
                </div>
              </div>

              <div class="field">
                <label class="label" for="passwordConfirmInput">비밀번호 확인</label>
                <div class="control">
                  <input class="input" id="passwordConfirmInput" type="password" autocomplete="off" disabled="" />
                </div>
              </div>

              <div class="field">
                <div class="field-label is-normal">
                  <label class="label label-address" for="address2">주소</label>
                </div>
                <div class="field-body search">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input"
                        id="postalCodeInput"
                        type="text"
                        placeholder="주소찾기를 클릭해 주세요."
                        readonly=""
                        disabled=""
                      />
                    </p>
                  </div>
                  <div>
                    <button class="button is-light is-hovered" id="searchAddressButton" disabled="">주소찾기</button>
                  </div>
                  <!-- 토클 스위치 -->
                  <label class="switch switch-address">
                    <input type="checkbox" id="addressToggle" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>

              <div class="field">
                <div class="field-label is-normal no-label"></div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input"
                        id="address1Input"
                        type="text"
                        placeholder=""
                        autocomplete="on"
                        readonly=""
                        disabled=""
                      />
                    </p>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="field-label is-normal no-label"></div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input
                        class="input"
                        id="address2Input"
                        type="text"
                        placeholder=""
                        autocomplete="on"
                        disabled=""
                      />
                    </p>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label" for="phoneNumberInput">전화번호</label>
                <div class="control">
                  <input
                    class="input"
                    id="phoneNumberInput"
                    type="number"
                    placeholder="- 없이 입력해 주세요."
                    autocomplete="on"
                    disabled=""
                  />
                  <!-- 토클 스위치 -->
                  <label class="switch">
                    <input type="checkbox" id="phoneNumberToggle" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>

              <button
                class="button button-submit is-info is-fullwidth js-modal-trigger"
                id="saveButton"
                data-target="modal-js-example"
              >
                저장하기
              </button>

              <!-- 정보 수정을 완료하기 위해, 현재 비밀번호를 입력할 Modal 창 -->
              <div id="modal" class="modal">
                <div class="modal-background" id="modalBackground"></div>
                <div class="modal-content">
                  <button class="delete is-large" id="modalCloseButton" aria-label="close"></button>
                  <div class="box">
                    <p class="mb-3">현재 비밀번호를 입력해 주세요.</p>
                    <p class="mb-3">카카오 로그인인 경우, 'kakao'를 입력해 주세요.</p>

                    <input
                      class="input is-link mb-3"
                      id="currentPasswordInput"
                      type="password"
                      placeholder=""
                      autocomplete="on"
                    />
                    <button class="button is-link mt-5" id="saveCompleteButton" aria-label="close">
                      저장 완료하기
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
