<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="account.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('#header').load('/header.html');
      });
    </script>
    <script src="account.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div id="header"></div>

    <div class="register-user-form-container">
      <form class="box register-user-form-box" id="registerUserForm">
        <p class="title is-5 has-text-primary">삭제를 진행합니다.</p>

        <div class="field mb-5">
          <label class="label" for="passwordInput">현재 비밀번호</label>
          <div class="control">
            <input
              class="input"
              id="passwordInput"
              type="password"
              placeholder="카카오 로그인의 경우 'kakao'를 입력해 주세요."
              autocomplete="off"
            />
          </div>
        </div>

        <button class="button is-primary is-fullwidth" id="submitButton">
          회원정보 안전하게 삭제하기
        </button>

        <!-- 회원정보를 정말 삭제할 지 묻는 Modal 창 -->
        <div id="modal" class="modal">
          <div class="modal-background" id="modalBackground"></div>
          <div class="modal-content">
            <div class="box">
              <p class="mb-3">
                회원정보 삭제 시 복구할 수 없습니다. 정말로 삭제하시겠습니까?
              </p>

              <div class="buttons">
                <button
                  class="button mt-5"
                  id="deleteCompleteButton"
                  aria-label="close"
                >
                  네
                </button>
                <button
                  class="button is-primary mt-5"
                  id="deleteCancelButton"
                  aria-label="close"
                >
                  아니오
                </button>
              </div>
            </div>
          </div>

          <button
            class="modal-close is-large"
            id="modalCloseButton"
            aria-label="close"
          ></button>
        </div>
      </form>
    </div>
  </body>
</html>
