.account-header {
  border-bottom: 1px solid #ddd;
  display: block;
  padding-bottom: 0.7rem;
}
.orders-top {
  border-bottom: 1px solid #aaa;
  padding: 0;
  text-align: center;
}
.columns {
  border-bottom: 1px solid #aaa;
  /* bulma padding */
  padding: 0 !important;
  text-align: center;
}
.orders-item {
  align-items: center;
  text-align: center;
}
.orders-item:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

.table-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  overflow: scroll;
  height: 600px;
}
.table-info {
  /* margin-left: 20px; */
  /* width: 1400px; */
}
