#section {
	margin:0 auto;
	max-width:90%;
}
.section-wrap {
	
}
.section-wrap .item {
	display: flex;
	
}
.section-wrap .item .item-img {
	width:300px;
	height:550px;
	overflow: hidden;
	position:relative;

}
.section-wrap .item .item-img img {
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-50%;
	margin-top:-50%;
	min-width:100%;
	min-height:100%;
}
.section-wrap .item .item-text {
	
}
.section-wrap .item .item-text .name {
	
}
.section-wrap .item .item-text .phrase {
	
}
.section-wrap .item .item-text .price {
	
}