<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>소동이네 | 회원가입</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/logo-favi.png" />
    <!-- bulma css 관련 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="register.css" />
    <script src="register.js" type="module" defer></script>
    <script type="text/javascript" defer>
      fetch('/header.html')
        .then((res) => res.text())
        .then((text) => {
          document.querySelector('#header').innerHTML = text;
        });
      fetch('/header.js')
        .then((response) => response.text())
        .then((txt) => {
          var script = document.createElement('script');
          script.innerHTML = txt;
          document.body.appendChild(script);
        });
    </script>
  </head>
  <body>
    <!-- header -->
    <div id="header"></div>

    <!-- 회원가입 폼(Form) -->
    <div class="register-user-form-container">
      <form class="box register-user-form-box" id="registerUserForm">
        <p class="title is-5" id="title">환영합니다!</p>
        <div class="field">
          <label class="label" for="fullNameInput">이름</label>
          <div class="control">
            <input class="input" id="fullNameInput" type="text" placeholder="유재석" autocomplete="on" />
          </div>
        </div>

        <div class="field">
          <label class="label" for="emailInput">이메일</label>
          <div class="control">
            <input class="input" id="emailInput" type="email" placeholder="abc@example.com" autocomplete="on" />
            <button class="button" id="requestEmailButton">인증번호 요청</button>
          </div>
        </div>
        <div class="field">
          <label class="label" for="verifyInput">인증번호확인</label>
          <div class="control">
            <input class="input" id="verifyInput" type="input" placeholder="인증번호를 입력하세요." autocomplete="on" />
            <span class="tag is-white" id="countText"></span>
            <button class="button" id="verifyButton">인증번호 확인</button>
          </div>
        </div>

        <div class="field">
          <label class="label" for="passwordInput">비밀번호</label>
          <div class="control">
            <input class="input" id="passwordInput" type="password" placeholder="********" autocomplete="off" />
          </div>
        </div>

        <div class="field mb-5">
          <label class="label" for="passwordConfirmInput">비밀번호 확인</label>
          <div class="control">
            <input class="input" id="passwordConfirmInput" type="password" placeholder="********" autocomplete="off" />
          </div>
        </div>

        <button class="button is-warning is-fullwidth" id="submitButton">회원가입하기</button>
      </form>
    </div>
  </body>
</html>
