<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link rel="icon" type="image/png" sizes="16x16" href="/elice-rabbit-favicon.png" />
    <!-- bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script defer src="https://kit.fontawesome.com/7630448495.js" crossorigin="anonymous"></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="product.css" />
    <script src="product.js" type="module" defer></script>
    <script type="text/javascript">
      fetch('/header.html')
        .then((res) => res.text())
        .then((text) => {
          document.querySelector('#header').innerHTML = text;
        });
    </script>
    <script src="/header.js" type="module" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div id="header"></div>

    <section class="section">
      <div class="container">
        <div class="block account-header">
          <h1 class="subtitle is-4">제품 관리</h1>
        </div>
        <div class="container orders-container" id="ordersContainer">
          <div class="columns notification is-warning is-light is-mobile orders-top">
            <div class="column is-2">이름</div>
            <div class="column is-2">설명</div>
            <div class="column is-2">재고 수</div>
            <div class="column is-2">가격</div>
            <div class="column is-2">수정</div>
            <div class="column is-1">삭제</div>
          </div>
          <div class="table-info"></div>
        </div>
      </div>
    </section>
  </body>
</html>
