.div-container {
  padding: 3rem 1.5rem;
}

.landing {
  cursor: pointer;
  border: 1px solid red;
  padding: 10px;
}

.menu-card {
  align-items: center;
  border: 1px solid #d5d9d9;
  border-radius: 6px;
  display: flex;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.menu-container {
  grid-gap: 2rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  text-decoration: none;
}

.subtitle,
.title {
  word-break: break-word;
}
.subtitle {
  padding-bottom: 15px;
}

.menu-body {
  border-radius: 6px;
  color: #7a7a7a;
  flex-grow: 1;
  font-size: 1.25em;
  padding: 1em;
}

.menu-icon {
  font-size: 3.5rem;
  margin: 0 2rem;
  padding: 1rem;
}

.columns {
  border-bottom: 1px solid #aaa;
  /* bulma padding */
  padding: 0 !important;
  text-align: center;
}

.display-none {
  /* bulma button inline-flex 속성 제외 */
  display: none !important;
}
