<footer>
	<div class="footer-wrap">
		<div class="customer-center">
			<ul class="wrap">
			
				<li class="cc1 cc">
					<p class="title">CUSTOMER CENTER</p>
					<p class="contect">02-0000-0000</p>
					<ul>
						<li>평일 오전 10:30 ~ 오후 18:00</li>
						<li>점심시간 오후 12:00 ~ 오후 13:00</li>
						<li>토/일/공휴일 휴무</li>
					</ul>
				</li>
				<li class="cc2 cc">
					<p class="title">ACCOUNT INFO</p>
					<p>우리은행 0000-000-000000</p>
					<p>예금주 : 소동이네</p>
					<p class="title" style="margin-top:30px;">RETURN/EXCHANGE</p>
					<p>서울 강남구 테헤란로53길 16 예안빌딩 B1층</p>
				</li>
			</ul>
		</div>
		<div class="about-us">
			<div class="wrap">
				<div class="text">
					<div>
						<span><b>대표자</b> team 6</span>
						<span><b>사업자등록번호</b> 000-00-00000</span>
						<span><b>대표전화</b> 02-0000-0000</span>
					</div>
					<div>
						<span><b>주소</b> 서울 강남구 테헤란로53길 16 예안빌딩 B1층</span>
						<span><b>개인정보보호책임자</b> team 6</span>
					</div>
				</div>
				<div class="logo">
					<img src="images/logo.png" width="80" height="80" />
				</div>
			</div>
			
		</div>

	</div>
</footer>