<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/home.css" />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/images/logo.png" width="50" height="50" style="max-height: 50px;"/>
            <span class="logo-text">소동이네</span>
          </a>
          <div class="navbar-end-m breadcrumb my-auto" aria-label="breadcrumbs">
            <div class="navber-m-bg"></div>
              <ul id="navbar-m" class="navbar-m">
                
              </ul>
            </div>
            <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
      
          <div class="navbar-end breadcrumb my-auto" aria-label="breadcrumbs">
            <ul id="navbar">
              
            </ul>
          </div>

          <a href="" class="top-btn">TOP</a>

        </div>
      </div>
    </nav>
</body>

</html>