body {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

.section {
  padding: 3rem 1.5rem;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.title {
  color: #363636;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.125;
}

.cart-header {
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  margin-bottom: 2rem;
}

.cart-header .title {
  margin-bottom: 0;
}

.cart-header .subtitle {
  line-height: 2.5rem;
  padding: 3rem 1rem 0;
}

.title:not(.is-spaced) + .subtitle {
  margin-top: -1.25rem;
}

.tile {
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
}

.tile.is-ancestor:last-child {
  margin-bottom: -0.75rem;
}

.tile.is-ancestor {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.tile.is-parent {
  padding: 0.75rem;
}

.tile-order-summary {
  height: 100%;
  position: sticky;
  top: 0.5rem;
}

.cart-products-header {
  border-bottom: 1px solid #555;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.75rem 0;
  width: 100%;
}

.cart-products-header label {
  border-radius: 100%;
  display: inline-block;
  line-height: 0.5rem;
}

.cart-products-header .help {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  margin: 0 1rem;
  border-radius: 3px;
  border: solid 1px black;
  padding: 0.25rem;
}

.cart-products-header .seperator {
  line-height: 0.8rem;
}

.cart-products-header .delete-part {
  cursor: pointer;
  line-height: 1rem;
}

.cart-product-item {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0.5rem;
  padding-bottom: 2rem;
  padding-top: 0.3rem;
  position: relative;
}

.cart-product-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.cart-product-item .delete-button {
  background-color: transparent;
  border: none;
  color: #bdbdbd;
  cursor: pointer;
  font-size: 1rem;
}

.cart-product-item .image {
  cursor: pointer;
  display: inline-block;
  margin-left: 1.2rem;
}

.image {
  display: block;
  position: relative;
  margin-left: 3rem;
}

.image.is-96x96 {
  height: 96px;
  width: 96px;
}

.cart-product-item label {
  position: absolute;
  top: 0.2rem;
}

.cart-product-item .content {
  align-items: center;
  display: flex;
  flex-basis: 12rem;
  flex-direction: column;
  margin-bottom: 0;
  margin-left: 1rem;
}

.cart-product-item .content p {
  cursor: pointer;
  font-size: 1.4rem;
  margin-bottom: 0.5em;
  color: #363636;
  font-weight: 600;
}
.cart-product-item .content p:visited {
  color: #363636;
}

.cart-product-item .quantity .button {
  border-color: #aaa;
  font-size: 0.6rem;
  padding: 1px 9px;
}

.cart-product-item .quantity .input {
  height: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 2.5rem;
}

.cart-product-item input {
  height: 0.9rem;
  width: 0.9rem;
}

.calculation {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-left: 2rem;
  padding: 0 0.5rem;
}

.calculation p {
  display: block;
  font-size: 1.4rem;
}

.calculation .icon {
  color: #888;
}

.cart-products {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.order-summary {
  background-color: #f5f5f7;
  width: 100%;
  padding: 1.25rem;
}

.order-summary .header {
  font-size: 1.4rem;
}

.order-info,
.order-summary .header {
  border-bottom: 1px solid #555;
}

.order-info .info {
  display: flex;
  font-size: 1.1rem;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.order-info .info p {
  display: block;
}

.order-info .info:first-child {
  margin-top: 1.2rem;
}

.order-info .info:last-child {
  margin-bottom: 1.2rem;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.total .total-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.total P {
  display: block;
}

.total .total-price {
  font-size: 2rem;
  font-weight: 700;
}

.purchase {
  margin-top: 3rem;
  padding: 0.2rem 0;
}

.button.is-info {
  background-color: #3e8ed0;
  border-color: transparent;
  color: #fff;
}

.purchase button {
  font-size: 1.4rem;
  font-weight: 800;
  height: 4rem;
  width: 100%;
  background-color: #ff7800;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .image.is-96x96 {
    width: 30%;
    max-width: 100px;
  }
  .cart-product-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    margin-left: 1rem;
  }
  .cart-product-item label {
    position: absolute;
    left: -1rem;
    top: 2rem;
  }
  .cart-product-item .content {
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-basis: 1rem;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
    margin: 1rem 0;
    border-color: #555;
  }
  .quantity {
    margin-top: 20px;
  }
  .cart-product-item .delete-button {
    background-color: transparent;
    border: 1px solid lightgray;
    color: #bdbdbd;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 3rem;
    width: 100%;
  }
  .cart-product-item .content p {
    margin-bottom: 0;
  }
  .calculation {
    margin-bottom: 1rem;
    margin-left: 0;
  }
  .cart-header {
    align-items: center;
  }
  .title {
    font-size: 1.5rem;
  }
}
